<ion-view view-title="Cartilha">
  	<ion-content overflow-scroll="true">
	  	<div class="row">
	  		<div class="col">
	  			<h2 class="tt-interna" >Cartilha</h2>
	  		</div>
	  	</div>
	  	
	  		
	  	<ul>
	  		<li>
	  			<a class="detrans" ng-click="goTo('http://adcon.rn.gov.br/acervo/detran/doc/DOC000000000085901.PDF')">
	  				<h4 class="padding-top"> Cartilha direção defensiva </h4>
					<i class="ion-android-pin"></i>
	  			</a>
	  		</li>	
	  		<li>
	  			<a class="detrans" ng-click="goTo('http://adcon.rn.gov.br/acervo/detran/doc/DOC000000000085902.PDF')">
	  				<h4 class="padding-top"> Cartilha Noções de primeiros socorros </h4>
					<i class="ion-android-pin"></i>
	  			</a>
	  		</li>		
	  	</ul>


  	</ion-content>
</ion-view>
