<ion-view view-title="Consulta Veículos">
  	<ion-content overflow-scroll="true">
	  	<!-- <div class="row bgcinza">
	  		<div class="carros">
	  			<div class="vintecinco">
	  				<img src="./img/img-pefil_03.jpg" width="70%" alt="">
	  			</div>
	  			<div class="setentaecinco">
		  			<h2>João Victor da C Dias</h2>
		  			<p>CNH 03981066272</p>
	  			</div>
	  		</div>
	  	</div> -->
	  	<div class="row">
	  		<div class="col">
	  			<h2 class="tt-interna" >Consultar <strong>Veículos</strong></h2>
	  		</div>
	  	</div>

	  	<div class="row">
	  		<div class="col">
	  			<div class="list form">
	  				<form name="veicleForm" ng-submit="consultar(veicleForm)" novalidate ng-init="setForm(veicleForm);">
					  	<label class="item item-input" ng-class="{ 'has-errors' : veicleForm.placa.$invalid && veicleForm.placa.$dirty}">
					    	<input maxlength="7" ng-minlength="7" ng-maxlength="7" type="text" class="upper" ng-model="consulta.placa" name="placa" placeholder="Placa" required>
					  	</label>
					  	<span ng-show="veicleForm.placa.$error.minlength && veicleForm.placa.$dirty" class="has-errors-message"> 
					  		<i class="ion-information-circled"></i>	A placa está muito curta
					  	</span>
					  	
					  	<label class="item item-input" ng-class="{ 'has-errors' : veicleForm.renavam.$invalid && veicleForm.renavam.$dirty}">
					    	<input ng-pattern="/^\d+$/" maxlength="11" ng-minlength="11" ng-maxlength="11"  type="text" ng-model="consulta.renavam" name="renavam" placeholder="RENAVAM" required>
					  	</label>
					  	<span ng-show="veicleForm.renavam.$error.minlength && veicleForm.renavam.$dirty" class="has-errors-message"> 
					  		<i class="ion-information-circled"></i>	O renavam está muito curto
					  	</span>
					  	
					  	<span ng-show="!veicleForm.renavam.$error.minlength && veicleForm.renavam.$error.pattern && veicleForm.renavam.$dirty" class="has-errors-message"> 
					  		<i class="ion-information-circled"></i>	O renavam só deve conter números
					  	</span>
					  	<div class="text-right">
					  	<span>Salvar Veículo</span>
					  	<label class="toggle toggle-balanced">
					       	<input type="checkbox" ng-model="consulta.save" name="save">
						       	<div class="track">
						        	<div class="handle"></div>
					       		</div>
					     </label>

					  	</div>
			        	<button ng-disabled="!veicleForm.$valid" class="button button-block button-dark">Consultar</button>
			        </form>
				</div>				
	  		</div>
	  	</div>

  	</ion-content>
</ion-view>