<ion-view view-title="">
  	<ion-content  overflow-scroll="true">
  		<div class="row bgcinza">
  			<div class="carros">
  				<div class="vintecinco">
  					<img src="./img/logo-detran.png" width="70%" alt="">
  				</div>
  				<div class="setentaecinco">
	  				<h2>Aplicativo <strong>DETRAN RN</strong></h2>
	  				<!-- <p>CNH 03981066272</p> -->
  				</div>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col icones">
  				<a transitiontype="flip" direction="left" go-native href="#/app/consultaveiculo">
  					<img src="./img/icon_buscar.png" width="65%" alt="">
  				</a>
  				<p>Consultar <strong>Veículos</strong></p>
  			</div>
  			<div class="col icones">
  				<a href="#/app/meuscarros">
  					<img src="./img/icon_meus.png" width="65%" alt="">  					
  				</a>
  				<p>Meus <strong>Veículos</strong></p>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col icones">
  				<a href="#/app/servicos">
  					<img src="./img/icon_detran.png" width="65%" alt="">
				</a>
  				<p>Serviços <strong>Detran</strong></p>
  			</div>
  			<div class="col icones">
  				<a href="#/app/cartilha">
  					<img src="./img/icon_cartilha.png" width="65%" alt="">
  				</a>
  				<p>Cartilha</p>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col icones">
  				<a href="#/app/localizacao">
  					<img src="./img/icon_local.png" width="65%" alt="">
  				</a>
  				<p>Localize</p>
  			</div>
  			<div class="col icones">
  				<a href="#/app/telefones">
  					<img src="./img/icon_fone.png" width="65%" alt="">
  				</a>
  				<p>Telefones <strong>Úteis</strong></p>
  			</div>
  		</div>
	</div>
  </ion-content>
</ion-view>
