<ion-view view-title="Telefones">
  	<ion-content overflow-scroll="true">
	  	<div class="row">
	  		<div class="col">
	  			<h2 class="tt-interna">Guaritas</h2>
	  		</div>
	  	</div>
	  	
	  		
	  	<ul>
	  		<li>
	  			<a class="detrans" href="tel:3232-1287" >
	  				<h4>Guarita I (Linha do Trem)</h4>
	  				<p>3232-1287</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>				
	  		<li>
	  			<a class="detrans" href="tel:3232-1288" >
	  				<h4>Guarita II (Posto de Gasolina)</h4>
	  				<p>3232-1288</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-2993" >
	  				<h4>Guarira III (Pista de volante)</h4>
	  				<p>3232-2993</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>				
	  	</ul>
	  	<div class="row">
	  		<div class="col">
	  			<h2 class="tt-interna">Direção Geral</h2>
	  		</div>
	  	</div>
	  	<ul>
	  		<li>
	  			<a class="detrans" href="tel:3232-1207" >
	  				<h4>Gabinete Diretor</h4>
	  				<p>3232-1207</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>				
	  		<li>
	  			<a class="detrans" href="tel:3232-1208" >
	  				<h4>Secretária Diretor</h4>
	  				<p>3232-1208</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1207" >
	  				<h4>Recepção Gabinete</h4>
	  				<p>3232-1207</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1207" >
	  				<h4>Chefia de Gabinete</h4>
	  				<p>3232-1207</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>	
	  		<li>
	  			<a class="detrans" href="tel:3232-1207" >
	  				<h4>Secretária da Chefe de Gabinete</h4>
	  				<p>3232-1212</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>	
	  		<li>
	  			<a class="detrans" href="tel:3232-1207" >
	  				<h4>Procuradoria Jurídica</h4>
	  				<p>3232-1207</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>	
	  		<li>
	  			<a class="detrans" href="tel:3232-1218" >
	  				<h4>Secretária da Procuradoria Jurídica</h4>
	  				<p>3232-1218</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>	
	  		<li>
	  			<a class="detrans" href="tel:3232-2967" >
	  				<h4>Defesa Prévia</h4>
	  				<p>3232-2967</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>	
	  		<li>
	  			<a class="detrans" href="tel:3232-7556" >
	  				<h4>Contencioso – Assessoria Técnica da PROJU</h4>
	  				<p>3232-7556</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>	
	  		<li>
	  			<a class="detrans" href="tel:3232-1216" >
	  				<h4>COPA</h4>
	  				<p>3232-1216</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>	
	  		<li>
	  			<a class="detrans" href="tel:3232-2999" >
	  				<h4>Assessoria de Comunicação</h4>
	  				<p>3232-2999</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>	
	  		<li>
	  			<a class="detrans" href="tel:3232-1253" >
	  				<h4>Comissão de Sindicância</h4>
	  				<p>3232-1253</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1204" >
	  				<h4>Comissão de controle interno</h4>
	  				<p>3232-1204</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1524" >
	  				<h4>Sala dos Advogados</h4>
	  				<p>3232-1524</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1213" >
	  				<h4>Jari –Junta Administrativa de Recurso de Infração</h4>
	  				<p>3232-1213</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  	</ul>
	  	<div class="row">
	  		<div class="col">
	  			<h2 class="tt-interna">Coordenadoria Administrativa</h2>
	  		</div>
	  	</div>
	  	<ul>
	  		<li>
	  			<a class="detrans" href="tel:3232-7315" >
	  				<h4>Administrador</h4>
	  				<p>3232-7315</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>				
	  		<li>
	  			<a class="detrans" href="tel:3232-2970" >
	  				<h4>Secretária da COAD</h4>
	  				<p>3232-2970</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1203" >
	  				<h4>Subcoordenador COAD</h4>
	  				<p>3232-1203</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>	
	  		<li>
	  			<a class="detrans" href="tel:3232-1224" >
	  				<h4>Secretária da COAD</h4>
	  				<p>3232-1224</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1290" >
	  				<h4>Malote</h4>
	  				<p>3232-1290</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-4516" >
	  				<h4>Comissão de Licitação</h4>
	  				<p>3232-4516</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1226" >
	  				<h4>Protocolo Geral</h4>
	  				<p>3232-1226</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1525" >
	  				<h4>Setor de Convênios/Estágios</h4>
	  				<p>3232-1525</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1221" >
	  				<h4>Subcoordenador de RH</h4>
	  				<p>3232-1221</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1291" >
	  				<h4>Apoio SUBRH</h4>
	  				<p>3232-1291</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1223" >
	  				<h4>Pagamento de Pessoal</h4>
	  				<p>3232-1223</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1284" >
	  				<h4>Serviço Social</h4>
	  				<p>3232-1284</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1228" >
	  				<h4>Colocação de Placas</h4>
	  				<p>3232-1228</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1230" >
	  				<h4>Almoxarifado</h4>
	  				<p>3232-1230</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:36056597" >
	  				<h4>Lanchonete</h4>
	  				<p>36056597</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1233" >
	  				<h4>Arquivo Geral</h4>
	  				<p>3232-1233</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>	  		
	  		<li>
	  			<a class="detrans" href="tel:3232-7211" >
	  				<h4>Chefe da Limpeza</h4>
	  				<p>3232-7211</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-2996" >
	  				<h4>Setor Patrimônio</h4>
	  				<p>3232-2996</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1297" >
	  				<h4>Banco do Brasil</h4>
	  				<p>3232-1297</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1227" >
	  				<h4>Setor de Transporte</h4>
	  				<p>3232-1227</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1263" >
	  				<h4>Central de atendimento</h4>
	  				<p>3232-1263</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1232" >
	  				<h4>Setor de Manutenção</h4>
	  				<p>3232-1232</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  	</ul>
	  	<div class="row">
	  		<div class="col">
	  			<h2 class="tt-interna">Coordenadoria de Registro de Veículos</h2>
	  		</div>
	  	</div>
	  	<ul>
	  		<li>
	  			<a class="detrans" href="tel:3232-1501" >
	  				<h4>Coordenador</h4>
	  				<p>3232-1501</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1228" >
	  				<h4>Secretaria do Coordenador</h4>
	  				<p>3232-1228</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1282" >
	  				<h4>Subcoordenador</h4>
	  				<p>3232-1282</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1231" >
	  				<h4>Auditoria Interna</h4>
	  				<p>3232-1231</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-2964" >
	  				<h4>Apoio a coordenadoria de Registro</h4>
	  				<p>3232-2964</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1264" >
	  				<h4>Emissão de Trial</h4>
	  				<p>3232-1264</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1282" >
	  				<h4>Gerência RENAVAM</h4>
	  				<p>3232-1282</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1278" >
	  				<h4>Arquivo Registro</h4>
	  				<p>3232-1278</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1274" >
	  				<h4>Auditoria Externa</h4>
	  				<p>3232-1274</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1275" >
	  				<h4>Abertura de Processos</h4>
	  				<p>3232-1275</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1277" >
	  				<h4>Emissão de CRLV On-Line</h4>
	  				<p>3232-1277</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1277" >
	  				<h4>Comunicado de Venda</h4>
	  				<p>3232-1277</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1509" >
	  				<h4>Vistoria</h4>
	  				<p>3232-1509</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1298" >
	  				<h4>SNG – GRAVAME</h4>
	  				<p>3232-1298</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
  		</ul>
  		<div class="row">
	  		<div class="col">
	  			<h2 class="tt-interna">Coordenadoria de Habilitação</h2>
	  		</div>
	  	</div>
	  	<ul>
	  		<li>
	  			<a class="detrans" href="tel:3232-1298" >
	  				<h4>Coordenador</h4>
	  				<p>3232-2985</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-2974" >
	  				<h4>Secretária</h4>
	  				<p>3232-2974</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-2975" >
	  				<h4>Subcoordenador</h4>
	  				<p>3232-2975</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1249" >
	  				<h4>Prontuário/Averbação</h4>
	  				<p>3232-1249</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-2990" >
	  				<h4>Impedimentos e Liberação</h4>
	  				<p>3232-2990</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1263" >
	  				<h4>Atendimento da habilitação</h4>
	  				<p>3232-1263</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1243" >
	  				<h4>Montagem</h4>
	  				<p>3232-1243</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-2982" >
	  				<h4>INTERPRINT</h4>
	  				<p>3232-2982</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1244" >
	  				<h4>Marcação de Provas Teóricas/Provão</h4>
	  				<p>3232-1244</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1057" >
	  				<h4>Aprendizagem</h4>
	  				<p>3232-1057</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1266" >
	  				<h4>Subcoordenadoria Controladoria de Aprendizagem</h4>
	  				<p>3232-1266</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-2993" >
	  				<h4>Pista Volante</h4>
	  				<p>3232-2993</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  	</ul>
	  	<div class="row">
	  		<div class="col">
	  			<h2 class="tt-interna">Coordenadoria de Financeira</h2>
	  		</div>
	  	</div>
	  	<ul>
	  		<li>
	  			<a class="detrans" href="tel:3232-1236" >
	  				<h4>Coordenador</h4>
	  				<p>3232-1236</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1236" >
	  				<h4>Secretária do Coordenador</h4>
	  				<p>3232-1236</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1237" >
	  				<h4>Tesouraria</h4>
	  				<p>3232-1237</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1209" >
	  				<h4>Contabilidade/Arrecadação</h4>
	  				<p>3232-1209</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1240" >
	  				<h4>Empenho</h4>
	  				<p>3232-1240</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1239" >
	  				<h4>Planejamento Orçamentário</h4>
	  				<p>3232-1239</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1242" >
	  				<h4>Assessoria Contábil</h4>
	  				<p>3232-1242</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-2960" >
	  				<h4>Subcoordenadoria Financeira</h4>
	  				<p>3232-2960</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:08007013427" >
	  				<h4>FENASEG</h4>
	  				<p>08007013427</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
  		</ul>

  		<div class="row">
	  		<div class="col">
	  			<h2 class="tt-interna">Coordenadoria de Educação e Fiscalização</h2>
	  		</div>
	  	</div>
	  	<ul>
	  		<li>
	  			<a class="detrans" href="tel:3232-1289" >
	  				<h4>Coordenador</h4>
	  				<p>3232-1289</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1201" >
	  				<h4>Secretária</h4>
	  				<p>3232-1201</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1246" >
	  				<h4>Subcoordenador Educação</h4>
	  				<p>3232-1246</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-2972" >
	  				<h4>Setor de Infrações</h4>
	  				<p>3232-2972</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1252" >
	  				<h4>Apoio Técnico Educação</h4>
	  				<p>3232-1252</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1250" >
	  				<h4>Fiscalização</h4>
	  				<p>3232-1250</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1296" >
	  				<h4>Liberação de Veículos</h4>
	  				<p>3232-1296</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1289" >
	  				<h4>Coordenador</h4>
	  				<p>3232-2960</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1201" >
	  				<h4>Secretária</h4>
	  				<p>3232-1201</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
  		</ul>
  		<div class="row">
	  		<div class="col">
	  			<h2 class="tt-interna">Informática</h2>
	  		</div>
	  	</div>
	  	<ul>
	  		<li>
	  			<a class="detrans" href="tel:3232-1505" >
	  				<h4>Subcoordenadoria de Informática</h4>
	  				<p>3232-1505</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1270" >
	  				<h4>Desenvolvimento Informática</h4>
	  				<p>3232-1270</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1505" >
	  				<h4>Secretária Informática</h4>
	  				<p>3232-1505</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1262" >
	  				<h4>Suporte</h4>
	  				<p>3232-1262</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
  		</ul>
  		<div class="row">
	  		<div class="col">
	  			<h2 class="tt-interna">Coordenadoria de Operações</h2>
	  		</div>
	  	</div>
	  	<ul>
	  		<li>
	  			<a class="detrans" href="tel:3232-2963" >
	  				<h4>Coordenador</h4>
	  				<p>3232-2963</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1257" >
	  				<h4>Secretária do Coordenador</h4>
	  				<p>3232-1257</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-2383" >
	  				<h4>Subcoordenadoria de Engenharia</h4>
	  				<p>3232-2383</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1258" >
	  				<h4>Apoio/Engenheiros e Arquitetos</h4>
	  				<p>3232-1258</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1247" >
	  				<h4>Setor de Confecção de placas</h4>
	  				<p>3232-1247</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-2963" >
	  				<h4>Coordenador</h4>
	  				<p>3232-2963</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1257" >
	  				<h4>Secretária do Coordenador</h4>
	  				<p>3232-1257</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-2383" >
	  				<h4>Subcoordenadoria de Engenharia</h4>
	  				<p>3232-2383</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1258" >
	  				<h4>Apoio/Engenheiros e Arquitetos</h4>
	  				<p>3232-1258</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1247" >
	  				<h4>Setor de Confecção de placas</h4>
	  				<p>3232-1247</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
  		</ul>
  		<div class="row">
	  		<div class="col">
	  			<h2 class="tt-interna">Ouvidoria</h2>
	  		</div>
	  	</div>
	  	<ul>
	  		<li>
	  			<a class="detrans" href="tel:3232-1000" >
	  				<h4>Ouvidoria</h4>
	  				<p>3232-1000</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-1261" >
	  				<h4>Coordenadora</h4>
	  				<p>3232-1261</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  		<li>
	  			<a class="detrans" href="tel:3232-0010" >
	  				<h4>Apoio</h4>
	  				<p>3232-0010</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  	</ul>
	  	<div class="row">
	  		<div class="col">
	  			<h2 class="tt-interna">Secretaria do estado da tributação</h2>
	  		</div>
	  	</div>
	  	<ul>
	  		<li>
	  			<a class="detrans" href="tel:3232-1235" >
	  				<h4>SUCIVA (IPVA)</h4>
	  				<p>3232-1235/1283</p>
					<i class="ion-ios-telephone"></i>
	  			</a>
	  		</li>
	  	</ul>	  	


  	</ion-content>
</ion-view>